<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnStr" value="server=qdm176963284.my3w.com;uid=qdm176963284;pwd=1thagainIdoy;database=qdm176963284_db"/>
    <add key="UserName" value="cy"/>
  </appSettings>
</configuration>